body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    font-weight: bold;
    font-size: large;
    height: 30px;
}

td,th{
    text-align: center;
    padding: 8px;
}

form{
    margin-top: 16px;
}